<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @!section('og')
    <base href="/">
    @!section('title')
    <link rel="shortcut icon" type="image/x-icon" href="images/iconn.png">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/298107b699.js"></script>
    @!section('css')
</head>
<body>

    <div class="menu">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Work</a>
        <a href="#">Learn</a>
        <a href="#">Blog</a>
    </div>

    @!section('content')
    
    <script src="js/script.js"></script>
    @!section('js')
</body>
</html>