<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    @!section('title')
    <link rel="shortcut icon" type="image/x-icon" href="images/iconn.png">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap" />

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src="https://kit.fontawesome.com/298107b699.js"></script>
    @!section('css')
</head>
<body>

    @include('layouts.admin.nav')
    @!section('content')          
    
    <script src="js/admin.js"></script>

    @!section('js')
</body>
</html>